/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.action-column {
    width: 75px;
}

.contractor-column {
    width: 150px;
}

.paid-status-column {
    width: 230px;
}

.date-column {
    width: 150px;
}

.income-column {
    width: 250px;
}

/* File Upload Button */
.file-upload {
    display: inline;
    position: relative;
    overflow: hidden;
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    visibility: hidden
}

/* Fast Access Buttons */
.fast-buttons {
    position: fixed;
    right: 0;
    top: 45%;
    z-index: 100;
    text-align: right;
}

.fast-buttons .trigger {
    display: inline-block;
    border-radius: 10px 0 0 10px;
    background: #5cb85c;
    width: 15px;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font: 18px/15px Arial;
    cursor: pointer;
    vertical-align: middle;
}

.fast-buttons ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.fast-buttons .btn {
    display: none;
    min-width: 33px;
    margin-bottom: 1px;
}

.fast-buttons .btn .text {
    display: none;
}

.fast-buttons .btn:hover .text {
    display: inline;
}

.fast-buttons:hover .trigger {
    visibility: hidden;
}

.fast-buttons:hover .btn {
    display: inline-block;
}